.bg-dark{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('nav.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.navbar-dark{
    color:white;
}

.navbar-dark .navbar-nav .nav-link{
    color:yellow;
    font-size: 25px;
    text-shadow: 2px 2px 3px rgb(252, 250, 250);

}

.navbar-dark .navbar-nav .nav-link:hover{
    font-size:22px;
    color:white
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color:yellow;
    text-shadow: 2px 2px 3px rgb(252, 250, 250);

}



.navbar-dark .navbar-brand{
    color:blue;
    font-size:35px;
    text-shadow: 2px 2px 2px rgb(252, 250, 250);



}

.navbar-dark .navbar-brand:hover{
    font-size:28px;
    color:blue;
    text-shadow: 2px 2px 2px black;


}

.modal-content{
    background-color: black;
        color:white;
        
}

.cross{
    color:white;
}

.form{
    background-color: black;
        color:white;
        padding-bottom: 30px;
        padding-top: 20px;  
}

.tabl tr{
       color:white;
       background-color: black;

}

.tabl td{
    color:white;
       background-color: black;
       text-shadow: 2px 2px 10px blueviolet;

}
.tabl th{
    color:white;
       background-color: black;
       text-shadow: 2px 2px 5px red;

}

#bg{
 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('la1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: rgb(255 255 255 / 90%);
    text-shadow: 2px 2px 2px black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: rgb(255 255 255 / 90%) !important;
    text-shadow: 2px 2px 5px black;

}
